body{
    background-color: #f2f4f8;
}
  .resume-container {
    width: 210mm; 
    height: 297mm; 
    margin: 0 auto;
    padding: 20px; 
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
    color: #333;
    line-height: 1;
    border: 1px solid #ccc;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 50px;
    margin-bottom: 50px;
    
    
  }

.experience-color{
  text-align: center;
 
 
  
  }
  h2{
    text-align: center;
    font-size: 32px;
  }
  .education{ 
   
   margin-top: 70px;
   padding-left: 70px;
  }


 